.card-div{
    position: relative;
    border-radius: 40px 40px 0 0 !important;
    
    box-shadow:2px 2px rgb(247, 218, 4) ;
    transition: transform .5s; /* Animation */
}
.card-div:hover{
   
    z-index: 999;
    transform: scale(1.1);
   
}

.upr-card-div{
    height: 180px;
    width: 100%;
    display: flex;
    position: relative;
    
}
.img-div img{
    padding: 20px;
    margin-top: 20px;
    aspect-ratio: 1.8;
    object-fit: contain;
    border-radius: 1.5rem !important;
}

.card-category{
    position: absolute;
    width: 100%;
    top: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 12px;
    color: white;
    padding: 0.3rem;
    background: rgb(18, 19, 19);
    border-radius: 50px 50px 0 0;
}

.lwr-card-div{    
    background: #3c3b3b;
    color: rgb(255, 255, 255);
    text-align: start;
    padding: 3rem;
    border-radius: 50px 50px 0 0 !important;
}

.card-title{
    font-weight: 600;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(232, 205, 6);
}

.read-link{
    
    border: 2px solid rgb(255, 217, 0);
    border-radius: 5px 5px 5px 5px;
    font-size: 15px;
    position: absolute;
    left: 30%;
    bottom: 4%;
    background-color: rgb(11, 11, 11);
    padding: 5px;
    color: rgb(255, 204, 0);
    cursor: pointer;
}
@media only screen and (max-width: 550px){
    .img-div img{
        padding: 20px;
        margin-top: 20px;
        aspect-ratio: 1;
        object-fit: contain;
        border-radius: 1.5rem !important;
    }
    
    .lwr-card-div{
        padding: 0.8rem;
    }


    .card-title{
        font-size: 1rem !important;
        padding: auto;
    }
    .card-desc{
        font-size: 0.8rem !important;
       
        padding: auto;
    }
    .card-category{
        height: 20px;
        font-size: 0.4rem !important;
        padding: 0.2rem 0.3rem;
        bottom: 0.5rem;
        padding-bottom: 0.3rem;
        right: 0.2rem;
    }
    .read-link{
    
        
        font-size: 8px;
        position: absolute;
        left: 30%;
        bottom: 0%;
        background-color: rgb(11, 11, 11);
        padding: 5px;
        color: rgb(255, 204, 0);
        cursor: pointer;
    }
    
}
